body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.botao{
    position: absolute;
    right: 100px;
    top: 300px;
}
.sim{
    border: 1px solid #000000;
    width: 300PX;
    margin-bottom: 15px;
    border-radius: 8px;
    max-width: 100%;
    cursor: pointer;
    background-color: rgb(10, 230, 10);
    text-align: center;
    font-size: 100PX;
}
.nao{
    border: 1px solid #000000;
    width: 300PX;
    margin-bottom: 15px;
    border-radius: 8px;
    max-width: 100%;
    cursor: pointer;
    background-color: rgb(230, 10, 10);
    text-align: center;
    font-size: 100PX;
}
.num{
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(211, 211, 211, 0.911);
}

 .card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: fit-content;
    background-color: rgb(74, 164, 74);
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 15px;
}
.resultado{
    display: flex;
    justify-content: center;
}
.voltar{
    border: 1px solid #000000;
    width: 500PX;
    margin-bottom: 15px;
    border-radius: 8px;
    max-width: 100%;
    cursor: pointer;
    background-color: rgb(10, 230, 219);
    text-align: center;
    font-size: 100PX;
}
h2{
    font-size: 50px;
}
h3{
    font-family: 'Alice', cursive;
    font-size: 80px;
    text-align: center;
}
p{
    font-family:'Courier New', monospace;
    font-size: 60px;
    text-align: center;
}
h4{
    font-family: 'Bellota', cursive;
    font-size: 50px;
    text-align: center;
}